<ion-header>
  <ion-toolbar>
    <ion-title>
      Comments
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let comment of comments">
            <ion-avatar item-left>
                <img src="https://www.gravatar.com/avatar/{{comment.user.emailHash}}">
            </ion-avatar>
            <h2>{{comment.user.firstName}} {{comment.user.lastName}}</h2>
            <p>{{comment.comment}}</p>
        </ion-item>
    </ion-list>
    <ion-item>
        <ion-label floating>Comment</ion-label>
        <ion-textarea></ion-textarea>
    </ion-item> 
    <ion-item>
         <button block ion-button icon-right paddings>
         Send Comment
        <ion-icon name="send"></ion-icon>
        </button>
    </ion-item>
   
</ion-content>